{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Reviviendo">
    <meta name="author" content="agmangas@gmail.com">

    <title>{% block title %}Jornadas Reviviendo{% endblock %}</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/darkly/bootstrap.min.css">
    <link rel="stylesheet" href={% static "revfront/css/custom.css" %}>
    {% block styles %}{% endblock %}
</head>
<body>
{% include 'revfront/navbar.html' %}

<div class="container" id="main-container">
    {% block body %}{% endblock %}
    <footer>
        <a href="http://www.zdezombies.com" target="_blank">
            <img class="pull-left" src={% static "revfront/img/zdezombies-logo.png" %}>
        </a>
        <span class="lead pull-right text-muted">© Jornadas Reviviendo 2014</span>
    </footer>
</div>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<script src={% static "revfront/js/sprintf.min.js" %}></script>
<script src={% static "revfront/js/bootbox.min.js" %}></script>
{% block javascripts %}{% endblock %}
</body>
</html>