{% extends 'revfront/base.html' %}

{% load staticfiles %}

{% block body %}

    <div class="page-header">
        <h1>FAQs
            <small>Preguntas frecuentes</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="lead text-muted">¿Qué es ReViviendo?</p>

            <div class="well text-justify">
                ReViviendo son las jornadas colaborativas de Roles en Vivo que organiza Z de Zombies.
            </div>

            <p class="lead text-muted add-margin-top">¿Qué es un juego de Rol en Vivo (ReV)?</p>

            <div class="well text-justify">
                Un juego de Rol en Vivo, ReV por sus iniciales, es una actividad similar a una obra teatral, destinada a
                trabajar la interpretación, la inteligencia y el trabajo en grupo de los participantes. Para aquellos
                familiarizados con los juegos de rol narrativo, de cartas, o de videoconsola/ordenador, se trata
                esencialmente de lo mismo llevado a un terreno real. Al sacar a los jugadores fuera de la mesa/pantalla,
                se
                consigue una implicación mucho más activa y social por su parte, permitiendo el desarrollo de múltiples
                tramas y personajes en paralelo sin ralentizar el juego.
            </div>

            <p class="lead text-muted add-margin-top">¿Cómo funcionan las jornadas ReViviendo?</p>

            <div class="well text-justify">
                A diferencia del Rol en Vivo de Z de Zombies, las ReViviendo están compuestas por un conjunto de ReV que
                se
                distribuyen entre los dos días que duran las jornadas, cubriendo todas las franjas horarias. La temática
                de
                las actividades es libre y podrá estar basada en cualquier cosa que te puedas imaginar: libros,
                películas,
                cómics, videojuegos, hechos históricos, etc., pretendiendo así abarcar una gran variedad de gustos y
                acercarnos a todos los participantes.
            </div>

            <p class="lead text-muted add-margin-top">¿Por qué colaborativas?</p>

            <div class="well text-justify">
                Aunque es Z de Zombies quien organiza el evento, se encarga de la logística, gestión del lugar, etc., no
                necesariamente se encargará de dirigir todos los ReV. Nuestra geografía está llena de excelentes
                asociaciones y personas con experiencia y ganas de llevar sus ideas a otros lugares, y Asturias estará
                encantada de recibiros. Tanto si eres Asociación como persona, y tengas mucha o poca experiencia,
                anímate,
                cuéntanos tu idea, tráenos tu partida y te haremos un hueco en las jornadas. (A la hora de inscribirte a
                las
                jornadas, indícanos que quieres organizar un ReV y te enviaremos un formulario para que nos expliques
                con
                detalle en que consiste).
            </div>

            <p class="lead text-muted add-margin-top">¿Dónde, cuándo y cuánto?</p>

            <div class="well text-justify">
                Esta segunda edición tendrá lugar, nuevamente, en el
                <a href="https://goo.gl/maps/87vlG" target="_blank">
                    Palacio de la Bouza, en Riberas (Soto del Barco, Asturias)
                </a>
                los días 25 y 26 de Octubre, y su precio será de 45€ por persona (Incluye comida, cena y
                alojamiento del sábado y desayuno y comida del domingo).
            </div>

            <p class="lead text-muted add-margin-top">¿Cómo me apunto?</p>

            <div class="well text-justify">
                El proceso está explicado en la sección de <a href={% url 'revfront:payment' %}>Inscripción</a>.
            </div>

            <p class="lead text-muted add-margin-top">¿Cómo me apunto a los roles en vivo una vez inscrito?</p>

            <div class="well text-justify">
                En cuanto confirmemos tu pago (suele tardar entre uno y dos días), te enviaremos un email.
                A partir de este momento podrás apuntarte a las actividades a través de nuestra web.
            </div>

            <p class="lead text-muted add-margin-top">¿Quién las organiza?</p>

            <div class="well text-justify">
                Como hemos dicho anteriormente, es Z de Zombies quien organiza las jornadas, pero además contará con la
                ayuda de otras asociaciones y personas para ampliar la oferta de ReVs. Cualquiera puede participar en
                las jornadas ReViviendo. ¡Animaros a enviarnos vuestros ReVs!
            </div>

            <p class="lead text-muted add-margin-top">¿Más dudas?</p>

            <div class="well text-justify">
                Para cualquier tipo de duda, información o sugerencia, puedes enviarnos un mail a
                reviviendo@zdezombies.com
            </div>

        </div>
    </div>

{% endblock %}
