{% extends 'revfront/base.html' %}

{% load staticfiles %}

{% block body %}

<div class="page-header">
    <h1>¡Bienvenid@!
        <small>La Asociación Z de Zombies presenta:</small>
    </h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <img class="img-thumbnail" src={% static "revfront/img/reviviendo-home.jpg" %}>
        </div>
    </div>
</div>

{% endblock %}
