{% load staticfiles %}

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span id="collapse-icon" class="glyphicon glyphicon-align-justify"></span>
            </button>
            <a class="navbar-brand" href={% url 'revfront:index' %}>
                Jornadas Reviviendo
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if menu == "payment" %} class="active" {% endif %}>
                    <a href={% url 'revfront:payment' %}>Inscripción</a>
                </li>
                <li {% if menu == "faqs" %} class="active" {% endif %}>
                    <a href={% url 'revfront:faqs' %}>FAQs</a>
                </li>
                <li {% if menu == "revevents:list" %} class="active" {% endif %}>
                    <a href={% url 'revfront:revevents:list' %}>Actividades</a>
                </li>
                {% if not user.is_authenticated %}
                    <li {% if menu == "revusers:login" %} class="active" {% endif %}>
                        <a href={% url 'revfront:revusers:login' %}>Acceder</a>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <p class="navbar-text navbar-right">
                    <span class="text-info">
                        <i class="fa fa-user"></i> &nbsp;
                        {{ user.username }} &nbsp;
                        <a class="btn btn-info btn-xs logout-btn-fix" href={% url 'revfront:revusers:logout' %}>
                            <i class="fa fa-sign-out"></i> Salir
                        </a> &nbsp;
                        {% if not user.is_staff %}
                            {% if user.participant.payment %}
                                <a class="btn btn-success btn-xs logout-btn-fix disabled">
                                    Pago OK
                                </a>
                            {% else %}
                                <a class="btn btn-danger btn-xs logout-btn-fix disabled">
                                    Pago pendiente
                                </a>
                            {% endif %}
                        {% endif %}
                    </span>
                </p>
            {% endif %}
        </div>
    </div>
</nav>