{% extends 'revfront/base.html' %}

{% load staticfiles %}

{% block body %}

    <div class="page-header">
        <h1>Inscripciones
            <small>Pasos necesarios para completar tu inscripción</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <span class="text-info">0</span> &nbsp; Registro
                    </h4>

                    <p class="add-margin-top no-margin-bottom">Antes de nada debes apuntarte en la
                        <a href={% url 'revfront:revusers:registration' %}>Sección de Registro</a></p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <span class="text-info">1</span> &nbsp; Pago
                    </h4>
                    <table class="table table-bordered table-condensed add-margin-top no-margin-bottom">
                        <tbody>
                        <tr>
                            <td class="">Método</td>
                            <td class="active">Ingreso o transferencia bancaria</td>
                        </tr>
                        <tr>
                            <td class="">Importe</td>
                            <td class="active">45 euros</td>
                        </tr>
                        <tr>
                            <td class="">Banco</td>
                            <td class="active">Banco Sabadell (Herrero)</td>
                        </tr>
                        <tr>
                            <td class="">Cuenta</td>
                            <td class="active">0081 5660 14 0001138724</td>
                        </tr>
                        <tr>
                            <td class="">Asunto</td>
                            <td class="active">
                                Debes indicar uno de los siguientes datos:
                                <span class="text-muted">DNI</span>,
                                <span class="text-muted">Email de registro</span> o
                                <span class="text-muted">Nombre y Apellidos</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <span class="text-info">2</span> &nbsp; Confirmación
                    </h4>

                    <p class="add-margin-top no-margin-bottom">En un plazo de pocos días confirmaremos tu pago y
                        te enviaremos un email, a partir de este momento podrás apuntarte a las actividades</p>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
