{% extends 'revfront/base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block body %}

    <div class="page-header">
        <h1>Acceder
            <small>Introduce tu usuario para entrar</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Introduce tu nombre de usuario y password</h3>
                </div>
                <div class="panel-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form class="form-horizontal" role="FORM" method="POST">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-warning">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        {% for field in form %}
                            <div class="form-group">
                                {% if field.errors %}
                                    <div class="alert alert-danger fade in">{{ field.errors }}</div>
                                {% endif %}

                                <label for="{{ field.id_for_label }}"
                                       class="col-sm-3 control-label">{{ field.label }}</label>

                                <div class="col-md-9">
                                    {% render_field field class="form-control" autocomplete="off" %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-block btn-primary">Entrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}