{% extends 'revfront/base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block body %}

    <div class="page-header">
        <h1>Registro
            <small>Aquí puedes apuntarte al evento</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Introduce tus datos</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="FORM" method="POST">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-warning">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        {% for field in form %}
                            <div class="form-group">
                                {% if field.errors %}
                                    <div class="alert alert-danger fade in">{{ field.errors }}</div>
                                {% endif %}

                                <label for="{{ field.id_for_label }}"
                                       class="col-sm-4 control-label">{{ field.label }}</label>

                                <div class="col-md-8">
                                    {% render_field field class="form-control" autocomplete="off" %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" class="btn btn-block btn-primary">Registrarme</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Después de registrarte</h3>
                </div>
                <div class="panel-body">
                    Realiza el pago según indica la sección de <a href="{% url "revfront:payment" %}">inscripción</a>
                    y lo confirmaremos al cabo de unos pocos días.
                </div>
            </div>
        </div>
    </div>

{% endblock %}