footer {
    margin-top: 24px;
    overflow: hidden;
    padding-top: 20px;
    margin-bottom: 36px;
}

footer img {
    max-height: 100px;
    margin-top: -16px;
}

footer span {
    padding-top: 10px;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.add-margin-top {
    margin-top: 18px;
}

.add-margin-top-big {
    margin-top: 26px;
}

.logout-btn-fix {
    margin-bottom: -5px;
    margin-top: -5px;
}

.togglable-panel:hover {
    opacity: 0.6;
    cursor: pointer;
    color: lightgray;
}