{% extends 'revfront/base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}
{% load revfront_filters %}

{% block javascripts %}

    <script src={% static "revevents/js/activity_list.js" %}></script>

{% endblock %}

{% block body %}

    <div class="page-header">
        <h1>Actividades
            <small>Regístrate para poder apuntarte</small>
        </h1>
    </div>

    {% for activity in object_list %}

        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading togglable-panel">
                        <h3 class="panel-title">
                            <i class="fa fa-caret-square-o-down"></i> &nbsp;
                            {{ activity.name }}
                            {% with free_places=activity.free_places %}
                                <span class="label {% if free_places %} label-primary {% else %} label-danger {% endif %} pull-right">
                            {{ free_places }} plazas
                        </span>
                            {% endwith %}
                        </h3>
                    </div>
                    <div class="panel-body text-justify" style="display: none;">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-thumbnail" src="{{ activity.image_url }}">
                            </div>
                            <div class="col-md-8">
                                {{ activity.description|linebreaksbr }}
                                {% if activity.comments %}
                                    <div class="text-muted add-margin-top no-margin-bottom">
                                        {{ activity.comments }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="overflow: hidden;">
                        <span class="text-muted">{{ activity.dtime }}</span>
                        {% if subscriptions|access:activity.pk %}
                            <a class="btn btn-success btn-sm pull-right disabled">
                                Ya estás apuntad@
                            </a>
                        {% elif user.is_authenticated and user.participant.payment and activity.free_places %}
                            <a class="btn btn-primary btn-sm pull-right"
                               href={% url 'revfront:revevents:signup' activity_pk=activity.pk %}>
                                Apuntarte
                            </a>
                        {% elif not activity.free_places %}
                            <a class="btn btn-danger btn-sm pull-right disabled">
                                No quedan plazas
                            </a>
                        {% elif not user.is_authenticated %}
                            <a class="btn btn-primary btn-sm pull-right disabled">
                                No estás registrad@
                            </a>
                        {% elif not user.participant.payment %}
                            <a class="btn btn-primary btn-sm pull-right disabled">
                                Pago pendiente
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    {% empty %}
        <div class="alert alert-info">
            <h4>No hay actividades</h4>

            <p>Aún no tenemos actividades, ten paciencia, ¡las subiremos en breves!</p>
        </div>
    {% endfor %}

{% endblock %}